a{
  color: black;
}
#slikica{
  height: 72px;
  width:72px;
}
body{
  padding-top: 36px;
  margin:0;
}
#nepodvucen{
  text-decoration: none;
}
#buttoni{
  vertical-align:center;
  text-align: center;
}
#sljed{
  margin-left:400px;
}
.sab{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  height: 35px;
  border: 2px solid blue;
  border-radius: 4px;
  width: 100px;
  background-color: cornflowerblue;
}
.meni{
    /*background: linear-gradient(to bottom, white 34px, lightblue 34px);*/
    background-color: lightblue;
}
.logo{
    text-align: center;
    transform: translateY(-50%);
    height:72px;
}
.sadrzaj{
    background-color: lightblue;
    padding: 0;
}
li{
    display: inline;
    margin-left: 10px;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
  text-align: center;
  padding-bottom: 5px;
  margin-left:-40px;
}
  .grid-container {
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap: 10px;
    /*background-color: #2196F3;*/
    padding-top: 10px;
    margin: auto;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 300px;
    width:100%;
    margin: auto;
  }
  .slajba{
    height: 300px;
      width:400px;
  }
  @media screen and (max-width: 1250px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        /*background-color: #2196F3;*/
        padding: 0px;
        margin: auto;
      }
      #sljed{
        margin-left:300px;
      }
      .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
        height: 300px;
      }
      .slajba{
        height: 300px;
        width: 400px;
  }
}
  @media screen and (max-width: 830px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        grid-gap: 10px;
        /*background-color: #2196F3;*/
        padding: 0px;
        margin: auto;
      }
      #sljed{
        margin-left:200px;
      }
      .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
        height: 300px;
        
      }
      .slajba{
        height: 300px;
        width:400px;
      }
    }
    @media screen and (max-width: 600px) {
      .sirina {
        display: block;
      }
      .grid-container {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        grid-gap: 10px;
        /*background-color: #2196F3;*/
        padding: 0px;
        margin: auto;
      }
      #sljed{
        margin-left:100px;
      }
      .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
        height: 300px;
        margin: auto;
        
      }
      li{
          margin-left: 0px;
          display: block;
      }
      ul{
          margin-left:0;
          text-align: left;
          padding-left: 20px;
      }
      .slajba{
        height: calc(300px*0.8);
      width: calc(400px*0.8);
        margin: auto;
        margin-top: 30px;
    }
    }