a{
    color: black;
}
#slikica{
    height: 72px;
    width:72px;
}
body{
    padding-top: 36px;
    margin:0;
}
#nepodvucen{
    text-decoration: none;
  }
.meni{
    background-color: lightblue;
}
.logo{
    text-align: center;
    transform: translateY(-50%);
    height:72px;
}
.sadrzaj{
    background-color: lightblue;
    padding: 20px;
}
li{
    display: inline;
    margin-left: 10px;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    text-align: center;
    padding-bottom: 5px;
    margin-left:-40px;
}
.velika{
    border: solid blue;
    border-spacing: 10px;
    background-color: cornflowerblue;
} 
.nevidljiva{
    display: none;
}
#izbor{
    border: 2px solid blue;
    border-radius: 4px;
    width: 105px;
}
.vrijeme { 
    border: 2px solid blue;
    border-radius: 4px;
    width: 100px;
}
.sirina{
    width: 100px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    
}
.zaokruzeni{
    border: solid blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.velika td{
    width: 48px;
}
th{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mala{
    border: solid blue;
    border-collapse: collapse;
}
.slobodna{
    background-color: green;
    height:10px;
    border: solid blue;
}
.zauzeta{
    background-color: red;
    height:10px;
    border: solid blue;
}
.gornja{
    height:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: white;
}
.sab{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    height: 35px;
    border: 2px solid blue;
    border-radius: 4px;
    width: 100px;
    background-color: cornflowerblue;
  }
  #odmaknut{
      margin-left: 264px;
  }
@media screen and (max-width: 600px) {
    .velika{
        border-spacing: 9px;
    }
    .sab{
        width: 100px;
    }
    .sirina {
      display: block;
    }
    li{
        margin-left: 0px;
        display: block;
    }
    ul{
        text-align: left;
        padding-left: 20px;
        margin-left:0;
          
    }
    .obrnut { 
        display: block; 
        float: left;
    }
    .uredu{
        display: block;
        /*border-collapse: collapse;*/
    }
    .nevidljiv{
        display: none;
    }
    .odozgo{
        margin-top: 16px;
    }
    .zaokruzeni{
        margin-right: 25px;
    }
    #odmaknut{
        margin-left: 1px;
  }
}