#slikica{
    height: 72px;
    width:72px;
}
body{
    padding-top: 36px;
    margin:0;
}
.meni{
    background-color: lightblue;
}
.logo{
    text-align: center;
    transform: translateY(-50%);
    height:72px;
}
#nepodvucen{
    text-decoration: none;
  }
.tabelaSala{
    margin:auto;
    border-collapse: collapse;
    height:420px;
    width: 300px;
}
#sprat{
    text-align: center;
    padding-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
td#prazan{
    border:none;
}
.headerSprat{
    background-color: lightslategrey;
    border: 1px solid;
    height:11%;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.ulijevo{
    padding-right: 20px;
}
#sira{
    width:18%;
}
.headerRedni{
    background-color: lightgrey;
    border: 1px solid slategray;
    width: 30%;
    padding-left: 5px;
    font-family: default;
}
.zauzetaSala{
    background-color: red;
    border: 1px solid;
    vertical-align: text-top;
    text-align: center;
}
.slobodnaSala{
    background-color: green;
    border: 1px solid;
    vertical-align: text-top;
    text-align: center;
}
.sala{
    background-color: white;
    border: 1px solid;
    width: 13%;
    vertical-align: text-top;
    text-align: center;
}
.kancelarija{
    background-color: grey;
    border: 1px solid;
    vertical-align: text-top;
    text-align: center;
}
.sadrzaj{
    background-color: lightblue;
    padding: 20px;
}
li{
    display: inline;
    margin-left: 10px;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    text-align: center;
    padding-bottom: 5px;
    margin-left:-40px;
}
a{
    color: black;
}
#redni{
    vertical-align: bottom;
    padding-left: 0;
    text-align: center;
}
@media screen and (max-width: 600px) {
    li{
        margin-left: 0px;
        display: block;
    }
    ul{
        text-align: left;
        padding-left: 20px;
        margin-left:0;
          
    }
    .headerSprat{
        display: none;
    }
    .headerRedni{
        display: none;
    }
    .tabelaSala{
        height: 300px;
        width: 220px;
    }
  }