a{
    color: black;
}
#slikica{
    height: 72px;
    width:72px;
}
body{
    padding-top: 36px;
    margin:0;
}
#nepodvucen{
    text-decoration: none;
  }
#osoblje{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
.meni{
    /*background: linear-gradient(to bottom, white 34px, lightblue 34px);*/
    background-color: lightblue;
}
.logo{
    text-align: center;
    transform: translateY(-50%);
    height:72px;
}
.sadrzaj{
    background-color: lightblue;
    padding: 20px;
}
li{
    display: inline;
    margin-left: 10px;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    text-align: center;
    padding-bottom: 5px;
    margin-left:-40px;
}
.sirina{
    width: 100px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    
}
input{ 
        border: 2px solid blue;
        border-radius: 4px;
}
@media screen and (max-width: 600px) {
    .sirina {
      display: block;
    }
    li{
        margin-left: 0px;
        display: block;
    }
    ul{
        text-align: left;
        padding-left: 20px;
        margin-left:0;
    }
  }
  .sab{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    height: 35px;
    width: 80px;
    background-color: cornflowerblue;
  }